<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>TT-Data</h1>
    <p>~卓球データ分析ツール~</p>
    <%= link_to ("プロ選手の登録へ"), new_pro_user_path %>
    <br>
    <%= link_to ("プロチーム登録へ"), new_pro_team_path %>
    <br>
    <%= link_to ("プロの大会登録へ"), new_pro_tournament_path %>
    <br>
    <%= link_to ("プロの試合を作成する"), new_pro_game_path %>
    <br>
    <%= link_to (t '.to_labo_page'), pro_games_path %>
    <br><br>
    <%= link_to (t '.to_me_page'), new_game_path %>
    <br>
    <%= link_to "自分の試合一覧へ", games_path %>
    <br><br>
    <%= link_to (t '.to_register_page'), new_user_path %>
    <br>
    <%= link_to (t '.to_login_page'), login_path %>
    <br>
    <%= link_to (t 'defaults.logout'), logout_path, method: :delete %>

  </div>
</div>