<div class="col-sm-12 col-lg-4 mb-3">
   <div id="game-id-<%= game.id %>">
     <div class="card">
       <div class="card-body">
         <h4 class="card-title">
           <%=link_to "#{game.user.name} VS #{game.opponent_name} (#{game.opponent_team})", "#" %>
         </h4>
         <ul class="list-inline">
           <li class="list-inline-item">
             <%= l game.date %>
           </li>
           <li class="list-inline-item">
             <%= game.tournament_name %>
           </li>
         </ul>
         <%= link_to "編集", edit_game_path(game) %>
         <%= link_to "削除", game_path(game), method: :delete, data: {confirm: "削除しますか？"} %>
       </div>
     </div>
   </div>
 </div>