<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>分析する試合</h1>
      <%= form_with model: @game, local: true do |f| %>
        <div class="form-group">
          <%= f.label :tournament_name %>
          <%= f.text_field :tournament_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :date %>
          <%= f.date_field :date, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :opponent_name %>
          <%= f.text_field :opponent_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :opponent_team %>
          <%= f.text_field :opponent_team, class: 'form-control' %>
        </div>
        <div class='text-center'>
          <%= f.submit (t 'defaults.register'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
 </div>