<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h3><%= t('.title') %></h3>
      <%= form_with model: @game, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
          <%= f.label :tournament_id %><br>
          <%= f.collection_select :tournament_id, ProTournament.all, :id, :name, include_blank: "選択して下さい" %>
        </div>
        <div class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :pro_user1_id %><br>
          <%= f.collection_select :pro_user1_id, ProUser.all, :id, :name, include_blank: "選択して下さい" %>
          </div>
        <div class="form-group">
          <%= f.label :pro_team1_id %><br>
          <%= f.collection_select :pro_team1_id, ProTeam.all, :id, :name, include_blank: "選択して下さい" %>
        </div>
        <div class="form-group">
          <%= f.label :pro_user2_id %><br>
          <%= f.collection_select :pro_user2_id, ProUser.all, :id, :name, include_blank: "選択して下さい" %>
        </div>
        <div class="form-group">
          <%= f.label :pro_team2_id %><br>
          <%= f.collection_select :pro_team2_id, ProTeam.all, :id, :name, include_blank: "選択して下さい" %>
        </div>
        <div class='text-center'>
          <%= f.submit "試合データの入力を開始する", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>